@import 'variables.css';

body,
h2,
p {
  margin: 0;
}
body {
  max-width: 30rem;
  margin-inline: auto;
  padding: var(--wa-space-m);
}

.is-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}